@keyframes inAnimation {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
  }

  
  @keyframes imageInAnimation {
    0% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}