.nav-wrapper {
  width: 17rem;
  padding: 0;
  position: absolute;
  top: 0.7rem;
  right: 0;
  z-index: 10000;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.header-img {
  width: 1rem;
  height: auto;
  margin-right: 1rem;
  z-index: 10000;
}

.content {
  padding: 0 !important;
  border-radius: 0px;
}

.content-bold {
  font-weight: 500;
}

.header {
  height: 0.7rem;
  margin-top: 0.5rem;
  text-align: right;
  z-index: 10000;
}

.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-navbar {
  list-style: none;
  margin: 0rem;
  padding: 0.7rem 2rem 0.7rem 1rem;
  width: 14rem;
  border-bottom: 1px solid #e0e0e0;
  color: white !important;
  list-style-type: none;
}

.li-navbar-desk {
  list-style: none;
  margin: 0rem;
  display: block;
  color: #3d90a2 !important;
  font-size: 1rem;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: right;
  z-index: 10000 !important;
  position: relative;
}

.modal {
  display: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  cursor: default; 
}

.navbar {
  z-index: 10000;
}

.font-blue {
  color: #3d90a2!important;
}

.navbar-item-desk {
  text-decoration: none;
  text-align: right;

}

.pointer {
  cursor: pointer;
}


.desk-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: auto;
  width: 60%;
}